PORT=5000
NODE_ENV=development
MONGODB_URI=your_mongodb_url
ADMIN_SECRET_KEY=your_admin_secret_key
SCHEDULER_SECRET_KEY=your_scheduler_secret_key
CRON_SECRET=your_scheduler_secret_key
PLACED_TO_PROCESSING_MINUTES=5
PROCESSING_TO_READY_MINUTES=5
SCHEDULER_ENABLED=true
